/* overrides */ 

.features-circle { 
  /*#0072bb*/
  background-color:   #33383B; 
  border: 6px solid  #E6DB4C;
}

.features-item:hover .features-circle {
  background-color:  #E6DB4C;
  border-color:  #33383B;
}

.logo span:first-child {
  color: rgb(240, 240, 240);
  margin: 0 -12px 0 -14px;
}

.logo {
  color: rgb(253, 232, 230);
  white-space: nowrap;
  opacity: 10.0;
}

.site-header { 
  border-top: 5px solid  #6699bb;
  background-color: #000000;
  text-shadow: none;
  color: black;
}

/*#0072bb*/
.section-signup {
  background-color:  #E6DB4C;
}

.site-header .logo { 
  background-color: rgba(0, 0, 90, 0.1);
}


.signup-form .btn-side {
  text-decoration: none;
}

.signup-form .btn-side:hover {
  border-color: rgb(236,234,213);
  color: rgb(92,0,50);
  background-color: rgb(236,234,213);
}

/* end color overrides */

.row { max-width: 850px; }

header { position: relative; }
header .row { z-index: 2; position: relative; }
.section-signup, .signup-subtitle { color: black; }
.section-signup a { color: black; text-decoration: underline; }

.subheader { text-align: center; color: black; text-transform: uppercase; }
.open-knowledge-foundation, .dat { width: 150px; float: right; }
.dat { margin-right: 35px; position: relative; top: 20px; }

.logo { font-family: 'Droid Sans Mono';}

.site-header {
  background-position: 52% -150px;
  background-image: url("../img/nodebots.png");
}

#subheadline{
  opacity: 0.8;
}

#subheadline, #subheadline a {
  color: rgb(0,0,0);
  background-color: rgba(233, 230, 208, 1);

}

#subheadline a {
  text-decoration: underline;
}

.header-intro-wrap {
  padding-bottom: 110px;
  padding-top: 110px;
  text-align: center;
}

.header-intro-wrap p {
  font-size: 28px;
  background-color:  #89cff0;
  /*background-color:  #89cff0;*/
}

.btn-docs {
  background: #a61300;
  border-color: #a61300;
}

.footer-info a {
  text-decoration: underline;
  color: white;
}


.footer-info {
  color: white;
}

.site-footer {
  background-color: #ffffff;
}

#whatweuse .two, #whatweuse h2 {
  text-align: center;
}

@media screen and (max-width: 468px) {
  .logo {
    font-size: 50px;
  }
  .btn-docs {
    border-color: #a61300;
  }
  .site-header {
  }
  .header-intro-wrap p {
    margin-top: 24px;
  }
  .header-signup {
  }
  .header-intro-wrap .hs-disclaimer {
    margin-top:50px;
  }
  .header-intro-wrap {
    padding-bottom: 50px;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 53.6%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-data-node {
	float: right;
}
